.App {
  width:75%;
  height: 75%;
  margin: 50px;
}

.PERSON{
  background-color: greenyellow; 
}

.DATE{
  background-color: rgb(28, 202, 194); 
}
.ORG{
  background-color: #42eff5;
}
.NORP{
  background-color: rgb(252, 148, 183);
}

.textHighlightContainer {
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 20px;

    width: 861px !important;
    text-align: start;
    margin: 50px;
}
p{
  padding: 5px;
  border-radius: 5px;
  margin-right: 2px;
  background-color: rebeccapurple;
  display: inline-block;
}

span.tagged_text {
  background-color: white;
  padding: 2px;
  border-radius: 3px;
}